{% extends "wood/base.html" %}

{% block content %}
    <div class="capa">
         <div class="texto-capa">
            <h1>
               Xiloteca
            </h1>
            <div class="container">
               <div class="row">
                  <div class="col-sm">
                     <h5>
                        Desculpe, mas essa página não foi encontrada... :'(
                     </h5>
                  </div>
               </div>
            </div>
         </div>
    </div>
{% endblock content%}